<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  {% if req_type == 'list' %}
  <body>
    <h1>States</h1>
    <ul>
      {% for state in states|sort(attribute='name') %}
      <li>
        {{ state.id }}: <b>{{ state.name }}</b>
      </li>
      {% endfor %}
    </ul>
  </body>
  {% elif req_type == 'one' %}
  <body>
    <h1>State: {{ states.name }}</h1>
    <h3>Cities:</h3>
    <ul>
      {% for city in states.cities|sort(attribute='name') %}
      <li>{{ city.id }}: <b>{{ city.name }}</b></li>
      {% endfor %}
    </ul>
  </body>
  {% else %}
  <body>
    <h1>Not found!</h1>
  </body>
  {% endif %}
</html>
